@using MvcCvProject.Models.Entity
@model List<TblSocialMedia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{string Active = "";}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <br />
                                <h1 class="card-title">Sosyal Medya Listesi</h1>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Sosyal Medya</th>
                                            <th>Durum</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Status == true)
                                            {
                                                Active = "Aktif";
                                            }
                                            else
                                            {
                                                Active = "Pasif";
                                            }
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.SocialMediaName</td>
                                                <td>@Active</td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/SocialMedia/GetPage/@item.ID" style="width: 135px">
                                                        <i class="fas fa-pen"></i>
                                                        Düzenle
                                                    </a>
                                                <td>
                                                    <a class="btn btn-info btn-danger" href="/SocialMedia/DeleteSocialMedia/@item.ID" style="width: 135px">
                                                        <i class="fas fa-trash"></i>
                                                        Sil
                                                    </a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                                <br />
                                <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Yeni Sosyal Medya Ekle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Sosyal Medya Ekleme Paneli</h3>
                    </div>
                    <form method="post" action="/SocialMedia/AddSocialMedia">
                        <div class="modal-body">
                            <label>Sosyal Medya İsmi</label>
                            <input type="text" name="SocialMediaName" class="form-control" />
                            <br />
                            <label>Sosyal Medya Link</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <label>Sosyal Medya İkon</label>
                            <input type="text" name="Icon" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

